<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-4 col-lg-12">
      <div class="card">
        <div class="card-header">
          <h1 class="panel-title" style="text-align: center">Matriz de Riesgo</h1>
        </div>
        <div class="card-body">
          
          <form method="POST" action="login">
              
                  
            <div class="form-group">
               
              <div class="table-responsive ">
                <table class="table">
                  <thead>
                    
                  
                    <br>
                    <tr>
                      <th scope="col">NOMBRE</th>
                      <th scope="col">DESCRIPCION </th>
                      <th scope="col">DEFINICION</th>
                     
                     
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">Tecnologicos</th>
                      <td> Entrada de virus informaticos y/o ataques de Hackers </td>
                      <td> Relaciona las situaciones que tienen que ver con el contexto tecnologico</td>
                    </tr>
                    <tr>
                      <th scope="row">Tecnologicos</th>
                      <td> Entrada de virus informaticos y/o ataques de Hackers </td>
                      <td> Relaciona las situaciones que tienen que ver con el contexto tecnologico</td>
                    </tr>

                    <tr>
                      <th scope="row">Tecnologicos</th>
                      <td> Entrada de virus informaticos y/o ataques de Hackers </td>
                      <td> Relaciona las situaciones que tienen que ver con el contexto tecnologico</td>
                    </tr>
                     

                     
                  </tbody>
                  
                </table>
               </div>
            </div>
       
           
        </form>
        
        </div>
      </div>
    </div><!--/.col-->
   
      </div>
    </div><!--/.col-->



    <div class="animated fadeIn">
      <div class="row">
        <div class="col-md-4 col-lg-12">
          <div class="card">
            <div class="card-header">
              <h1 class="panel-title" style="text-align: center">Debilidades</h1>
            </div>
            <div class="card-body">
              
              <form method="POST" action="login">
                  
                      
                <div class="form-group">
                   
                  <div class="table-responsive ">
                    <table class="table">
                      <thead>
                        
                      
                        <br>
                        <tr>
                          <th scope="col">NOMBRE</th>
                          <th scope="col">DESCRIPCION </th>
                          <th scope="col">DEFINICION</th>
                         
                         
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">Tecnologicos</th>
                          <td> Entrada de virus informaticos y/o ataques de Hackers </td>
                          <td> Relaciona las situaciones que tienen que ver con el contexto tecnologico</td>
                        </tr>
                        <tr>
                          <th scope="row">Tecnologicos</th>
                          <td> Entrada de virus informaticos y/o ataques de Hackers </td>
                          <td> Relaciona las situaciones que tienen que ver con el contexto tecnologico</td>
                        </tr>
    
                        <tr>
                          <th scope="row">Tecnologicos</th>
                          <td> Entrada de virus informaticos y/o ataques de Hackers </td>
                          <td> Relaciona las situaciones que tienen que ver con el contexto tecnologico</td>
                        </tr>
                         
    
                         
                      </tbody>
                      
                    </table>
                   </div>
                </div>
           
               
            </form>
            
            </div>
          </div>
        </div><!--/.col-->
       
          </div>
        </div><!--/.col-->