<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-4 col-lg-12">
      <div class="card">
        <div class="card-header">
          <h1 class="panel-title" style="text-align: center">Editar Riesgo</h1>
        </div>
        <div class="card-body">

    <form #updaterisk="ngForm" (ngSubmit)="onSubmit(uprisk)" class="col-md5">

<div class="form-row">
      
  <div class="form-group col-md-1">
  
  <p>
    <span for="name" >Code</span>
  <input type="text" name="code" [(ngModel)]="uprisk.code" class="form-control" #code="ngModel" readonly>
  <span *ngIf="!name.valid && name.touched"> Nombre Invalido</span>
</p>
</div>

<div class="form-group col-md-3">
  
    <p>
      <span for="date" >Fecha de Creacion</span>
    <input type="text" name="date" [(ngModel)]="uprisk.date" class="form-control" #date="ngModel" readonly>
    
  </p>
  </div>

  <div class="form-group col-md-8">
  
      <p>
        <span for="create" >Creado Por</span>
      <input type="text" name="create" [(ngModel)]="uprisk.create" class="form-control" #create="ngModel" readonly>
     
    </p>
    </div>



</div>


<div class="form-group">
    <p>
        <span for="name" >Nombre</span>
      <input type="text" name="code" [(ngModel)]="uprisk.code" class="form-control" #code="ngModel" >
      <span *ngIf="!name.valid && name.touched"> Nombre Invalido</span>
    </p>
    </div>

<div class="form-group">
<p>
    <span for="name" >Descripcion</span>
    <textarea name="code" [(ngModel)]="uprisk.code" class="form-control" #code="ngModel" rows="3"></textarea>
  <span *ngIf="!name.valid && name.touched"> Nombre Invalido</span>
</p>






</div>
<div class="form-row">
  <div class="form-group col-md-3 col-lg-6">
      
    <p>
    <span for="efectos" >Efectos</span>
  <textarea name="efectos" [(ngModel)]="uprisk.efects" class="form-control" #efectos="ngModel" required></textarea>
    
  <span *ngIf="!efectos.valid && efectos.touched"> Campo Invalido</span>
</p>
</div>

<div class="form-group col-md-3 col-lg-6">
<p>
    <span for="causes" >Causas</span>
  <textarea type="text" name="causes" [(ngModel)]="uprisk.causes" class="form-control" #causes="ngModel" ></textarea>
  <span *ngIf="!causes.valid && causes.touched"> Campo Invalido</span>
</p>
</div>
</div>


<div class="form-row">
  <div class="form-group col-md-3">
    
<p>
    <span for="clasification" >Clasificacion</span>
  <input type="text" name="clasification" [(ngModel)]="uprisk.clasification" class="form-control" #clasification="ngModel" readonly>
  <span *ngIf="!clasification.valid && clasification.touched"> Campo Invalido</span>
</p>

</div>

<div class="form-group col-md-3">
<p>
    <span for="object" >Objeto</span>
  <input type="text" name="object" [(ngModel)]="uprisk.object" class="form-control" #object="ngModel" readonly>
  <span *ngIf="!object.valid && object.touched"> Campo Invalido</span>
</p>

</div>

<div class="form-group col-md-3">
<p>
    <span for="factor" >Factor</span>
  <input type="text" name="factor" [(ngModel)]="uprisk.factor" class="form-control" #factor="ngModel" readonly>
  <span *ngIf="!factor.valid && factor.touched"> Campo Invalido</span>
</p>
</div>
<div class="form-group col-md-3">
<p>
    <span for="factor_vul" >Factor Vulnerabilidad</span>
  <input type="text" name="factor_vul" [(ngModel)]="uprisk.factor_vul" class="form-control" #factor_vul="ngModel" readonly>
  
</p>
</div>
</div>
<p>
    <span for="probability" >Probabilidad</span>
  <input type="text" name="probability" [(ngModel)]="uprisk.probability" class="form-control" #probability="ngModel">
  <span *ngIf="!probability.valid && probability.touched"> Campo Invalido</span>
</p>
     


  <p>
      <input type="submit" name="" value="Guardar" class="btn btn-success" />
  </p>

</form>

          </div>
        </div>
      </div><!--/.col-->        


