<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-4 col-lg-12">
      <div class="card">
        <div class="card-header">
          <h1 class="panel-title" style="text-align: center">Identificacion del Riesgo</h1>
        </div>
        <div class="card-body">
          
          <form  #risks="ngForm" (ngSubmit)="loadTable(riskSelect)" >
             
            <div class="form-group">
               

              <br>
              <label for="id_casa">Procesos</label>
              
              <select id="selectdrisks" name="selectrisks" [(ngModel)]="riskSelect" class="form-control" #selectdrisks="ngModel" >
                <option value="+47" *ngFor="let risks of risksmodels " [value]="risks.ID">{{risks.ID}} {{risks.NAME}} </option>
                  </select>

                 

               
          </div>
        
        <div class="row">                                                                                   
          <div class="col-md-4 col-lg-12">
  
              <button type="submit" class="btn btn-primary btn-lg btn-block">Consultar</button>
           
      </div>

      </div> 
    </form> 
      </div>
    </div>

    
        </div>
      </div>
    </div><!--/.col-->





    <div class="animated fadeIn">
      <div class="row">
        <div class="col-md-4 col-lg-12">
          <div class="card">
            <div class="card-header">
              <h1 class="panel-title" style="text-align: center">Identificacion del Riesgo</h1>


             
              


            </div>
            <div class="card-body">
              <div class="cargando" *ngIf="!risksmodels">
                Cargando ...
              </div>
              <div class="alert alert-danger" *ngIf="status_risks == 'error'" >
                {{status_message}}
              </div>
              <div  *ngIf="status_risks == 'success'">
               
                {{status_message}}
              
              </div>
              <div class="form-group">
                 
                <div class="table-responsive table-striped table-hover ">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">CODIGO</th>
                        <th scope="col">NOMBRE </th>
                        <th scope="col">DESCRIPCION</th>
                        <th scope="col">EFECTOS</th>
                        <th scope="col">CAUSAS</th>
                        <th scope="col">CLASIFICACION</th>
                        <th scope="col">OBJETIVO</th>
                        <th scope="col">FACTORES DE RIESGO</th>
                        <th scope="col">FACTORES DE VULNERABILIDAD</th>
                        <th scope="col">PROBABILIDAD</th>
                        <th scope="col">CREADO POR</th>
                        <th scope="col">OPCIONES</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let risksT of risksmodels ;" scope="row">
                         
                            <th scope="row">{{risksT.CODE}}</th>
                            <td>{{risksT.NAME}}</td>
                            <td>{{risksT.DESCRIPCION}}</td>
                            <td>{{risksT.EFFECTS}}s</td>
                            <td>{{risksT.CAUSES}}</td>
                            <td>{{risksT.CLASSIFICATION}}</td>
                            <td>{{risksT.OBJECT}}</td>
                            <td >{{risksT.FACTOR}}</td>
                            <td>{{risksT.FACTORVULNERABILITY}}</td>
                            <td >{{risksT.PROBABILITY}}</td>
                            <td>{{risksT.CREATEDBY}}</td>
                            <td>
    
                             <a [routerLink]="['../risks/riesgo', risksT.ID]" title="Edit" class="edit btn btn-warning btn-sm"><i class="fa fa-edit"> </i></a>
                             
                             <a (click)="delete(risksT.ID)" title="delete" class="delete btn btn-danger btn-sm"><i class="fa fa-trash"> </i></a>
                          </td>
                       
                      </tr>
                      
                    </tbody>
                  </table>
                  </div>
                </div>
                
              </div>
          </div>
        </div>
    
        
            </div>
          </div>
      
   
         