<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-4 col-lg-12">
      <div class="card">
        <div class="card-header">
          <h1 class="panel-title" style="text-align: center">Identificacion del Riesgo</h1>
        </div>
        <div class="card-body">
          
          <form  #risks="ngForm" (ngSubmit)="loadTable(riskSelect)" >
             
            <div class="form-group">
                <label for="id_casa">PROCESOS</label>
                
              <select  id="id_casa" class="form-control" name="id_casa">
                  <p>Procesos</p> 
                <option value="+47">P Gerencial</option>
                <option value="+46">Sverige (+46)</option>
                <option value="+45">Danmark (+45)</option>
              </select>

              <br>
              <label for="id_casa">RIESGOS</label>
              
              <select id="selectdrisks" name="selectrisks" [(ngModel)]="riskSelect" class="form-control" #selectdrisks="ngModel" >
                <option value="+47" *ngFor="let risks of risksmodels " [value]="risks.ID">{{risks.ID}} {{risks.NAME}} </option>
                  </select>

                 

               
          </div>
        
        <div class="row">                                                                                   
          <div class="col-md-4 col-lg-12">
  
              <button type="submit" class="btn btn-primary btn-lg btn-block">Procesar</button>
           
      </div>

      </div> 
    </form> 
      </div>
    </div>

    
        </div>
      </div>
    </div><!--/.col-->





    <div class="animated fadeIn">
      <div class="row">
        <div class="col-md-4 col-lg-12">
          <div class="card">
            <div class="card-header">
              <h1 class="panel-title" style="text-align: center">Identificacion del Riesgo</h1>
            </div>
            <div class="card-body">
              
              <div class="form-group">
                 
                <div class="table-responsive table-striped table-hover ">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">CODIGO</th>
                        <th scope="col">NOMBRE </th>
                        <th scope="col">DESCRIPCION</th>
                        <th scope="col">EFECTOS</th>
                        <th scope="col">CAUSAS</th>
                        <th scope="col">CLASIFICACION</th>
                        <th scope="col">OBJETIVO</th>
                        <th scope="col">FACTORES DE RIESGO</th>
                        <th scope="col">FACTORES DE VULNERABILIDAD</th>
                        <th scope="col">PROBABILIDAD</th>
                        <th scope="col">CREADO POR</th>
                        <th scope="col">OPCIONES</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let risksT of risksmodels ;" scope="row">
                         
                            <th scope="row">P1R2 {{risksT.CODE}}</th>
                            <td>{{risksT.CODE}}</td>
                            <td>{{risksT.DESCRIPCION}}</td>
                            <td>{{risksT.EFFECTS}}s</td>
                            <td>{{risksT.CAUSES}}</td>
                            <td>{{risksT.CLASSIFICATION}}</td>
                            <td>{{risksT.OBJECT}}</td>
                            <td >{{risksT.FACTOR}}</td>
                            <td>{{risksT.FACTORVULNERABILITY}}</td>
                            <td >{{risksT.PROBABILITY}}</td>
                            <td>{{risksT.CREATEDBY}}</td>
                            <td>
    
                             <a [routerLink]="['../identificacion/riesgo', risksT.ID]" title="Edit" class="edit btn btn-warning"><i class="fa fa-edit"> </i></a>
                            
                             <a (click)="delete(activitie.ID)" title="delete" class="delete btn btn-danger btn-sm"><i class="fa fa-trash"> </i></a>
                          </td>
                       
                      </tr>
                      
                    </tbody>
                  </table>
                  </div>
                </div>
                
              </div>
          </div>
        </div>
    
        
            </div>
          </div>
      
   
          <app-update  *ngIf="form_activities_update" [activitie]="activitie_update" (formactivities)="ocultarActividad()"  ></app-update>
          