<div class="container form_programm">
<form #programmNew="ngForm" (ngSubmit)="onSubmit(programs)" class="col-md5">
<table>
  <tbody>
    <tr>
      <td colspan="2">
       <h2>{{label_title}}</h2>
      </td>
    </tr>
    <tr>
      <td>
        <strong>{{label_periodo}}</strong>
      </td>
      <td>
        <input type="date" name="begin" [(ngModel)]="programs.BEGIN" class="form-control" #begin="ngModel" value="{{programs.BEGIN}}" style="float:left;"> <span  style="float:left;"> / </span> <input type="date" name="end" [(ngModel)]="programs.END" class="form-control" #end="ngModel" value="{{programs.END}}"  style="float:left;">
      </td>
    </tr>
    <tr>
      <td>
        <strong>{{label_objectives}}</strong>
      </td>
      <td>
        <textarea name="objetives" [(ngModel)]="programs.OBJECTIVES" class="form-control" #objetives="ngModel" rows="8" cols="80">{{programs.OBJECTIVES}}</textarea>
      </td>
    </tr>
    <tr>
      <td>
        <strong>{{label_scope}}</strong>
      </td>
      <td>
        <textarea name="scope" [(ngModel)]="programs.SCOPE" class="form-control" #scope="ngModel" rows="8" cols="80">{{programs.SCOPE}}</textarea>
      </td>
    </tr>
    <tr>
      <td>
        <strong>{{label_responsabilities}}</strong>
      </td>
      <td>
        <input type="text" name="responsabilities" [(ngModel)]="programs.RESPONSABILITIES" class="form-control" #resposabilities="ngModel" value="{{programs.RESPONSABILITIES}}">
      </td>
    </tr>
    <tr>
      <td>
        <strong>{{label_resource}}</strong>
      </td>
      <td>
        <textarea name="resource" [(ngModel)]="programs.RESOURCES" class="form-control" #resource="ngModel" rows="8" cols="80">{{programs.RESOURCES}}</textarea>
      </td>
    </tr>
    <tr>
      <td>
        <strong>{{label_observation}}</strong>
      </td>
      <td>
        <textarea name="observation" [(ngModel)]="programs.OBSERVATION" class="form-control" #observation="ngModel" rows="8" cols="80">{{programs.OBSERVATION}}</textarea>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <button type="submit" class="btn btn-primary">Guardar</button>
      </td>
    </tr>
  </tbody>
</table>
</form>
</div>
