<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-4 col-lg-12">
      <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-sm-12">
                    <h1 class="panel-title" style="text-align: center">Plan de Mejoramiento</h1>
                 </div>
                  <div class="col-sm-6 col-md-6 col-sm-12" style="text-align:right">
                    <a (click)="openNew()"  class="btn btn-outline-success btn-sm"><i class="fa fa-plus-circle"> Crear Plan</i></a>
                  </div>
            </div>



         
        </div>
        <div class="card-body">
          
          <form method="POST" action="login">
              
                  
            <div class="form-group">
               
              <div class="table-responsive ">
                <table class="table">
                  <thead>
                    
                  
                    <br>
                    <tr>
                      <th scope="col">NOMBRE DEL PROCESO </th>
                      <th scope="col">RESPONSABLE </th>
                      <th scope="col">PERIODO EVALUADO</th>
                      <th scope="col">FUENTE</th>
                      <th scope="col">FECHA HALLAZGO</th>
                      <th scope="col">FECHA SUSCRIPCION</th>
                     
                     
                    </tr>
                  </thead>
                  <tbody >
                    <tr scope="row">
                   
                      <th >Name</th>
                      <td > Description </td>
                      <td> Definition</td>
                    
                    </tr>
                   

                     
                  </tbody>
                  
                </table>
               </div>
            </div>
       
           
        </form>
        
        </div>
      </div>
    </div><!--/.col-->
   
      </div>
    </div><!--/.col-->
