<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-4 col-lg-12">
      <div class="card">
        <div class="card-header">
          <h1 class="panel-title" style="text-align: center">Auditorias</h1>
        </div>
        <div class="card-body">





<div class="container formato">
  <div class="" *ngIf="audits">
      <div class="table-responsive table-striped table-hover ">
          <table class="table">


        <thead>
            <tr >

              <th>{{label_id}}</th>
              <th>{{label_name}}</th>
              <th>{{label_objective}}</th>
              <th>{{label_date_begin}}</th>
              <th>{{label_date_end}}</th>
              <th>{{actions}}</th>
            </tr>
        </thead>
        <tbody>
<tr *ngFor="let audit of audits;let i = index;" scope="row">
            <td>{{ i + 1 }}</td>
            <td class="label_name">{{audit.NAME}}</td>
            <td class="label_objective">{{ (audit.OBJECTIVE.length>150)? (audit.OBJECTIVE | slice:0:150)+'..':(audit.OBJECTIVE) }}</td>
            <td>{{audit.DATE_BEGIN}}</td>
            <td>{{audit.DATE_END}}</td>
            <td>
              <a [routerLink]="['/base/audits/list-run-applied', audit.ID]" title="ejcutar" class="edit btn btn-success"><i class="fa fa-check"> </i></a>              
            </td>
</tr>
</tbody>
</table>
</div>
</div>
</div>





</div>
</div>


    </div>
  </div>
</div><!--/.col-->
