<div class="animated fadeIn">
    <div class="row">
      <div class="col-md-4 col-lg-12">
        <div class="card pre-scrollable ">
          <div class="card-header">
            <h1 class="panel-title" style="text-align: center">Factores de Riesgo</h1>
          </div>
          <div class="card-body">







<div class="card">
                          
    <div class="card-body">
<div class="row">
    <div class="col-sm-6 col-md-6 col-sm-12">
          <h2><b>Crear </b>Factor</h2>
     </div>
      
</div>


<form #updaterisk="ngForm" (ngSubmit)="onSubmit(factorModels)" class="col-md5">
   
    
          
      <div class="form-group">
      
    
        <label for="nombre">Nombre del Factor</label>
      <input type="text" name="nombre"  [(ngModel)]="factorModels.name"  class="form-control" #nombre="ngModel" >
      
     
   
    </div>
    
    
    
   
    
    
    <div class="form-group">
                                 
                  
        <br>
        <label for="id_casa">Tipos de Contextos</label>
        
        <select id="selectdrisks" name="selectrisks" [(ngModel)]="factorModels.id_factor_type" class="form-control" #selectdrisks="ngModel" >
          <option value="+47" *ngFor="let risks of factorTypeModels " [value]="risks.ID">{{risks.ID}} {{risks.NAME}}   </option>
            </select>

           

         
    </div>


    <div class="form-group">
        <p>
            <span for="description" >Descripcion</span>
          <textarea name="description" [(ngModel)]="factorModels.description" class="form-control" #description="ngModel" rows="3"></textarea>
          
         
         
          <span *ngIf="!description.valid && description.touched"> Campo Invalido</span>
        </p>
        </div>
    
    <div class="form-group">
    <p>
        <span for="definition" >Definicion</span>
        <textarea name="definition"  [(ngModel)]="factorModels.definition" class="form-control" #definition="ngModel" rows="3"></textarea>
      <span *ngIf="!definition.valid && definition.touched"> Nombre Invalido</span>
    </p>
    
    
    
    
    
    
    </div>
    
    
      <p>
          <input type="submit" name="" value="Guardar" class="btn btn-success" />
      </p>
    
    </form>





</div>
</div>




</div>
</div>
</div><!--/.col-->   