<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-4 col-lg-12">
      <div class="card">
        <div class="card-header">
          <h1 class="panel-title" style="text-align: center">Formatos</h1>
        </div>
        <div class="card-body">







<div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
			                  <h2>Adminsitrar <b>formatos {{label_message}}</b></h2>
		                 </div>
                </div>
            </div>
            <div class="alert alert-danger" *ngIf="status == 'error'" >
              {{status_message}}
            </div>
            <div class="alert alert-success" *ngIf="status == 'success'" >
              {{status_message}}
            </div>
            <div class="cargando" *ngIf="!formats">
              Cargando ...
            </div>
            <div class="" *ngIf="formats">
              <table class="table table-striped table-hover">
                  <thead>
                      <tr>
                        <th>
                          <span class="custom-checkbox">
                            <input type="checkbox" id="selectAll">
                            <label for="selectAll"></label>
                          </span>
                        </th>
                        <th>{{label_id}}</th>
                        <th class="label_name">{{label_name}}</th>
                        <th class="label_code">{{label_code}}</th>
                        <th>{{label_version}}</th>
                        <th>Actions</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let format of formats; let i = index">
                        <td>
                          <span class="custom-checkbox">
                            <input type="checkbox" id="checkbox1" name="options[]" value="{{format.ID}}">
                            <label for="checkbox1"></label>
                          </span>
                        </td>
                        <td>{{i + 1 }}</td>
                        <td>{{format.NAME}}</td>
                        <td><strong>{{format.CODE}}</strong></td>
                        <td>{{format.VERSION}}</td>
                        <td>

                          <a [routerLink]="['/base/audits/format-update', format.ID]" title="Edit" class="edit btn btn-warning btn-sm"><i class="fa fa-edit"> Editar</i></a>
                          <!-- <a (click)="delete(format.ID)" title="Delete" class="delete btn btn-danger btn-sm"><i class="fa fa-trash"></i></a> -->
                        </td>
                      </tr>
                  </tbody>
              </table>
            </div>
        </div>
    </div>





  </div>
</div>


    </div>
  </div>
</div><!--/.col-->
