<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-4 col-lg-12">
      <div class="card">
        <div class="card-header">
          <h1 class="panel-title" style="text-align: center">CONTROLES</h1>
        </div>
        <div class="card-body">
          
          <form method="POST" action="login">
              
                  
            <div class="form-group">
               
              <div class="table-responsive ">
                <table class="table">
                  <thead>
                    
                  
                    <br>
                    <tr>
                      <th scope="col">TIPO DE CONTROL</th>
                      <th scope="col">NOMBRE </th>
                      <th scope="col">DOCUMENTADO</th>
                      <th scope="col">ESTA APLICADO</th>
                      <th scope="col">ES EFECTIVO </th>
                      <th scope="col">OPCIONES</th>
                     
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">PREVENTIVO</th>
                      <td> Plan anual administrativo</td>
                      <td> </td>
                      <td> </td>
                      <td> </td>
                      <td> <button type="button" class="btn btn-primary btn-sm">Actualizar</button>
                         <button type="button" class="btn btn-danger btn-sm">Eliminar</button></td>
                     
                                                                          
                    </tr>
                    <tr>
                      <th scope="row">PREVENTIVO</th>
                      <td>Procedimiento</td>
                      <td> </td>
                      <td> </td>
                      <td> </td>
                      <td> <button type="button" class="btn btn-primary btn-sm">Actualizar</button>
                         <button type="button" class="btn btn-danger btn-sm">Eliminar</button></td>
                     
                     
                    </tr>

                    <tr>
                        <th scope="row">PREVENTIVO</th>
                        <td>Comite de coordinacion y seguimiento</td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> <button type="button" class="btn btn-primary btn-sm">Actualizar</button>
                           <button type="button" class="btn btn-danger btn-sm">Eliminar</button></td>
                       
                       
                      </tr>

                     
                  </tbody>
                  
                </table>
               </div>
            </div>
       
        <button class="btn btn-primary btn-block" type="" >Crear</button>

      
        </form>
        
        </div>
      </div>
    </div><!--/.col-->
   
      </div>
    </div><!--/.col-->




    <div class="animated fadeIn">
      <div class="row">
        <div class="col-md-4 col-lg-12">
          <div class="card">
            <div class="card-header">
              <h1 class="panel-title" style="text-align: center">VALORACION DEL RIESGO</h1>
            </div>
            <div class="card-body">
              
              <form method="POST" action="login">
                
                <div class="form-group">
                    <div class="table-responsive ">
                        <table class="table">
                          <thead>
                            <tr>
                              <td><b>Valoracion</b></td>
                          </tr>
                            
                          </thead>
                          <tbody>
                              <tr>
                                <th scope="row">Alta</th>
                                                                                                                        
                              </tr>
                              </tbody>
                              </table>
                </div>

                </div>

                <div class="form-group">
                   
                  <div class="table-responsive ">
                    <table class="table">
                      <thead>
                        <tr>
                          <td><b>CONTROLES</b></td>
                      
                        <br>
                        <tr>
                          <th scope="col">Probabilidad</th>
                          <th scope="col">Insignificante(1) </th>
                          <th scope="col">Menor(2)</th>
                          <th scope="col">Moderado(3)</th>
                          <th scope="col">Mayor(4) </th>
                          <th scope="col">Catastrofico(5)</th>
                         
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">Rara(1)</th>
                          <td> </td>
                          <td> </td>
                          <td> </td>
                          <td> </td>
                          <td> </td>
                         
                                                                              
                        </tr>
                        <tr>
                          <th scope="row">Imposible(2)</th>
                          <td> </td>
                          <td> </td>
                          <td> </td>
                          <td> </td>
                          <td> </td>
                         
                        </tr>

                        <tr>
                            <th scope="row">Posible(3)</th>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                           
                          </tr>
                          <tr>
                              <th scope="row">Probable(4)</th>
                              <td> </td>
                              <td> </td>
                              <td> </td>
                              <td> </td>
                              <td> </td>
                             
                            </tr>
                            <tr>
                                <th scope="row">Casi Certeza(5)</th>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                               
                              </tr>

                         
                      </tbody>
                      
                    </table>
                   </div>
                </div>
           
            <button class="btn btn-primary btn-block" type="" >Crear</button>

          
            </form>
            
            </div>
          </div>
        </div><!--/.col-->
       
          </div>
        </div><!--/.col-->



