<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-4 col-lg-12">
      <div class="card">
        <div class="card-header">
          <h1 class="panel-title" style="text-align: center">Seguimiento y Control</h1>
        </div>
        <div class="card-body">
          
          <form method="POST" action="login">
              
                  
            <div class="form-group">
               
              <div class="table-responsive ">
                <table class="table">
                  <thead>
                    <tr>
                      <td><b>LISTA DE FUNCIONARIOS</b></td>
                    <td><button type="button" class="btn btn-warning btn-sm">Agregar un Funcionario</button></td></tr>
                    <br>
                    <tr>
                      <th scope="col">FUNCIONARIO</th>
                      <th scope="col">PROBABILIDAD </th>
                      <th scope="col">IMPACTO</th>
                     
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">DESPACHO DEL CONTRALOR</th>
                      <td> </td>
                      <td> <button type="button" class="btn btn-primary btn-sm">Calificar</button></td>
                     
                                                                          
                    </tr>
                    <tr>
                      <th scope="row">SUBCONTRALORIA</th>
                      <td></td>
                      <td><button type="button" class="btn btn-primary btn-sm">Calificar</button></td>
                     
                     
                    </tr>

                    <tr>
                        <th scope="row">SECRETARIA GENERAL</th>
                        <td></td>
                        <td><button type="button" class="btn btn-primary btn-sm">Calificar</button></td>
                       
                       
                      </tr>

                      <tr>
                          <th scope="row">OFICINA DE CONTROL INTERNO DISCIPLINARIO</th>
                          <td></td>
                          <td><button type="button" class="btn btn-primary btn-sm">Calificar</button></td>
                         
                         
                        </tr>

                        <tr>
                            <th scope="row">OFICINA ASESORA JURIDICA</th>
                            <td></td>
                            <td><button type="button" class="btn btn-primary btn-sm">Calificar</button></td>
                           
                           
                          </tr>
                  </tbody>
                  <thead>
                     
                      <br>
                      <tr>
                        <th scope="col" text-align="center">FRECUENCIA</th>
                       
                       
                      </tr>
                    </thead>

                    <tbody>
                        <tr>
                          <td> <select id="id_casa" class="form-control" name="id_casa">
                              <p>Procesos</p> 
                            <option value="+47">RARA</option>
                            <option value="+46">Sverige (+46)</option>
                            <option value="+45">Danmark (+45)</option>
                          </select>
                        </td>
                        </tr>

                        <tr>
                          <td>
                            <input type="text">
                          </td>
                        </tr>

                    </tbody>
                </table>
               </div>
            </div>
       
        <button class="btn btn-primary btn-block" type="" >Guardar</button>

      
        </form>
      </div>
    </div>

    
        </div>
      </div>
    </div><!--/.col-->
